body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-image: url("./images/nature.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Press Start 2P";
    border: 8px solid yellow;
}

@media (min-width:1701px) and (max-width:4000px) {
    header {
        display: flex;
        color: rgb(240, 232, 10);
        text-emphasis: strong;
        width: auto;
        height: 25%;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        font-family: "Press Start 2P";
    }
    .memory-cards {
        display: flex;
        order: 0;
        width: 1500px;
        height: 1000px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-evenly;
        /*align-items: stretch;*/
        /*flex-grow: 1;*/
        margin: auto;
    }
    card {
        width: 220px;
        height: 220px;
        background-image: url("images/ball.png");
        background-size: cover;
        /*margin: 10px;*/
        font-size: 1rem;
        position: relative;
        cursor: pointer;
    }
    .pokecards {
        background-color: whitesmoke;
        width: 220px;
        height: 220px;
        border-radius: 50%;
        border: 3px solid black;
        background-size: contain;
    }
    card:active {
        background: whitesmoke;
    }
    /*:after,
     :before {
        box-sizing: border-box;
    }*/
    #startGame {
        display: flex;
        border: 6px solid black;
        background-color: hsl(58, 100%, 51%);
        border-radius: 10%;
        color: #07164b;
        font-family: "Press Start 2P";
        width: 300px;
        height: 80px;
        font-size: 2em;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-left: 45%;
        margin-bottom: auto;
    }
    #score {
        display: flex;
        border: 2px solid black;
        width: 300px;
        height: 80px;
        position: absolute;
        right: 5%;
        top: 20%;
        font-size: 2em;
        font-family: "Press Start 2P";
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    #winner {
        width: auto;
        height: 220px;
        font-size: 40px;
        position: absolute;
        margin-top: 350px;
        margin-left: 40%;
        color: fuchsia;
    }
    #timer {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        width: 200px;
        height: 80px;
        border: 2px solid black;
        position: absolute;
        font-size: 30px;
        margin-top: 300px;
        margin-left: 200px;
    }
    footer {
        display: flex;
        width: 100%;
        height: 3%;
        position: absolute;
        bottom: 0%;
        align-items: left;
        justify-content: center;
        font-size: 1.5em;
    }
}


/*   ------OJO CAMBIO MEDIA */


/*   ------OJO CAMBIO MEDIA */

@media (max-width:700px) {
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        box-sizing: border-box;
        background-image: url("./images/nature.png");
        background-repeat: no-repeat;
        background-size: cover;
        font-family: "Press Start 2P";
        font-size: 10px;
        border: 1px solid red;
    }
    header {
        display: flex;
        color: rgb(240, 232, 10);
        width: auto;
        height: 17%;
        justify-items: center;
        align-items: top;
        justify-content: center;
        margin-top: 5%;
    }
    h1 {
        font-size: 14px;
    }
    .memory-cards {
        display: flex;
        /* order: 0;*/
        width: 300px;
        height: 450px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-evenly;
        margin: auto;
    }
    card {
        width: 60px;
        height: 60px;
        background-image: url("images/ball.png");
        background-size: cover;
        margin: 10px;
        font-size: 1rem;
        position: relative;
        transform: scale 1;
        cursor: pointer;
    }
    card:active {
        background: #96a1b8;
    }
    /* :after,
     :before {
        box-sizing: border-box;
}*/
    #startGame {
        display: flex;
        border: 2px solid black;
        background-color: hsl(58, 100%, 51%);
        border-radius: 10%;
        color: black;
        font-family: "Press Start 2P";
        width: 100px;
        height: 30px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-top: 8%;
        margin-left: 39%;
        font-size: 1em;
    }
    #timer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 30px;
        border: 2px solid black;
        position: absolute;
        font-size: 12px;
        margin-top: 70px;
        margin-left: 80px;
    }
    #score {
        display: flex;
        border: 2px solid black;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        justify-content: center;
        position: absolute;
        right: 18%;
        top: 9%;
        font-size: 1.5em;
        align-items: center;
        justify-content: center;
    }
    footer {
        display: flex;
        width: 100%;
        height: 5%;
        position: absolute;
        bottom: 0%;
        align-items: left;
        justify-content: left;
        font-size: 1em;
    }
}


/*   ------OJO CAMBIO MEDIA */


/*   ------OJO CAMBIO MEDIA */


/*   ------OJO CAMBIO MEDIA */


/*   ------OJO CAMBIO MEDIA */

@media (min-width:701px) and (max-width:1700px) {
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        box-sizing: border-box;
        background-image: url("./images/nature.png");
        background-repeat: no-repeat;
        background-size: cover;
        font-family: "Press Start 2P";
        font-size: 12px;
        border: 1px solid red;
    }
    header {
        display: flex;
        color: hsl(58, 100%, 51%);
        width: auto;
        height: 30%;
        justify-items: center;
        align-items: top;
        justify-content: center;
        margin-top: 5%;
    }
    h1 {
        font-size: 2.5em;
    }
    .memory-cards {
        display: flex;
        width: 700px;
        height: 400px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-evenly;
        align-items: stretch;
        flex-grow: 1;
        margin: auto;
        margin-bottom: 10%;
    }
    /* :after,
     :before {
        box-sizing: border-box;
}*/
    #startGame {
        display: flex;
        border: 2px solid black;
        background-color: hsl(58, 100%, 51%);
        border-radius: 10%;
        color: black;
        font-family: "Press Start 2P";
        width: 130px;
        height: 40px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-top: -6%;
        margin-left: 42%;
    }
    card {
        width: 90px;
        height: 90px;
        background-image: url("images/ball.png");
        background-size: cover;
        margin: 10px;
        font-size: 1rem;
        position: relative;
        transform: scale 1;
        cursor: pointer;
    }
    card:active {
        background: #96a1b8;
    }
    #score {
        display: flex;
        border: thick double black;
        border-radius: 10%;
        width: 130px;
        height: 40px;
        background-color: whitesmoke;
        justify-content: center;
        position: absolute;
        margin-left: 42%;
        top: 16%;
        font-size: 1em;
        font-family: 'DotGothic16';
        align-items: center;
        justify-content: center;
    }
    /*#timer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        position: absolute;
        margin-left: 75%;
        top: 86%;
        font-size: 1em;
    }
    #displayTime {
        display: flex;
        align-items: center;
        justify-content: center;
        border: thick double black;
        width: 60px;
        height: 20px;
    }
    button {
        width: 45px;
        height: 20px;
    }
    #startTimer {
        background-color: #8ECE6A;
    }
    #stopTimer {
        background-color: red;
    }
    #resetTimer {
        background-color: #5E8BE8;
    }*/
    footer {
        display: flex;
        width: 100%;
        height: 5%;
        position: absolute;
        bottom: 0%;
        align-items: center;
        justify-content: start;
        font-size: 1em;
        margin-left: 10px;
    }
}